body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }

  section{
    margin-top: 10vh;
  }

  iframe{
    border: 3;
    border-radius: 15px;
    background-color: #dcd4e6;
    padding: 20px 20px 20px;
    margin-top: 4vh;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.466);
  }

  #dissbox {
    background-color: #dfd6e9;
    border-radius: 15px;
    padding: 20px;
    margin-top: 4vh;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.527);
    color: #301b30;
    font-family: "Kumbh Sans", sans-serif;
  }
  
  #dissbox h4 {
    font-size: 1.2rem;
  }
  

  .btn-primary {
    background-color: #030303;
    border: none;
  }

  .btn-primary:hover {
    background-color: #301b30;
  }

  #contactor{
    background-color: #e0d8e9;
    color: #301b30;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.466);
  }

  .form-control-lg {
    max-width: 400px;
  }

  .form-control {
    box-shadow: none;
    border: 1px solid #ced4da;
  }