<section class="creative-hero--section">
    <div class="bg bg-image" style="background-image: url('https://imgpanda.com/upload/ib/a9H6Qzqkd8.jpg');"></div>
    <div class="bg-overlay"></div>
    <div class="auto-container">
        <div class="content-box">
            <!-- <span class="hero-subtitle">EduQuest</span> -->
            <h1 class="hero-title">Where Knowledge Meets Innovation</h1>
            <div class="hero-desc">
                Your Gateway to Lifelong Learning. Discover, Learn, and Grow with Innovative Courses and Expert Guidance.            </div>
            <div class="btn-box">
                <a class="hero-cta" href="https://www.fiverr.com/users/aliali44/">
                    <span class="cta-title">Discover More <i class="fa fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>

