/* Global Styles */
mat-toolbar{
    height: 11vh;
    position: fixed;
    background-color: #d4c9d6;
    color: rgb(45, 1, 56);
    font-family: "Dancing Script", serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    top: 0; 
    left: 0;
    z-index: 10; 
}
.logo-img {
    height: 50px;
    width: 50px;
  }
  
  /* Flexbox for navbar */
  .spacer {
    flex-grow: 1;
  }
  
  /* Hide navbar links on small screens */
  /* Default Navbar Link Color */
.nav-links button {
    color: #280442 !important; /* Dark Purple */
    font-weight: bolder;
    padding: 20px;
  }
  
  /* Hover Effect */
.nav-links button:hover {
    color: #050107 !important; /* Indigo */
    scale: 1.02;
  }
  
  ::ng-deep .nav-links button.active-link {
    color: white !important;
    background-color: #4B0082 !important;
    border-radius: 4px;
  }
  
  
  /* Mobile menu button */
  .menu-btn {
    display: none;
  }
  
  /* Responsive: Show menu button & hide nav-links on small screens */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .menu-btn {
      display: block;
    }
    .nav-links{
        display: none;
    }
  }

  @media screen and (MIN-width: 768px) {
    mat-drawer-container{
        display: none;
    }
    
  }
  
  /* Side Drawer */
  .drawer-container {
    height: 100vh;
  }
  .drawer {
    width: 250px;
    color: black;
  }
  