<header style="position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 10vh;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <!-- Logo Section -->
      <div class="logobox d-flex align-items-center">
        <a routerLink="/">
        <img src="../../../../assets/images/logo.webp" alt="EduQuest logo" style="height: 60px; width: 60px;">
      </a>
      </div>

      <!-- Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-end px-3" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="/home" aria-label="Home Page">
              <span>Home</span>
            </a>
          </li>
          <!-- <li class="nav-item px-3">
            <a class="nav-link" routerLink="/course_add" aria-label="Home Page">
              <span>course_add</span>
            </a>
          </li> -->
          <!-- <li class="nav-item px-3">
            <a class="nav-link" routerLink="/instructor" aria-label="instructor Page">
              <span>instructor</span>
            </a>
          </li> -->
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
              <li><a class="dropdown-item" routerLink="/courses">All Courses</a></li>
              <!-- <li><a class="dropdown-item" href="#">Popular Courses</a></li>
              <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="/course_add/:id">New Courses</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSupport" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Support
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownSupport">
              <li><a class="dropdown-item" routerLink="/faq">FAQ</a></li>
              <li><a class="dropdown-item" routerLink="/contact">Contact Us</a></li>
            </ul>
          </li>
          <li class="nav-item px-3" *ngIf="authService.isAuthenticated()">
            <a class="nav-link" [routerLink]="authService.getUserRole() === 'student' ? '/student' : authService.getUserRole() === 'instructor' ? '/instructor' : '/admin'" id="button">
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item px-3">
            <a
              class="nav-link"
              *ngIf="!authService.isAuthenticated()"
              routerLink="/login"
              id="button"
            >
              LOGIN
            </a>
            <a
              class="nav-link"
              *ngIf="authService.isAuthenticated()"
              href="#"
              (click)="onLogout()"
              id="button"
            >
              LOGOUT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
