section{
    background-image: linear-gradient(0deg, #dbc3db 0%, #f1f6f7 100%);
}
.container{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.486);
    background-color: rgb(238, 227, 238);
    padding: 20px 20px 20px;
}

h2{
    text-align: center;
    color: rgb(24, 1, 48);
    background-color: #e5caeb;
    width: 100%;
    border-radius: 10px;
    padding: 5px 5px 5px;
    font-family: "Dancing Script", serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}
label{
    color: #520352;
    font-weight: bold;
}

#button{
    background-color: #520352;
    color: aliceblue;
    /* border-radus: 50%; */
}
#button:hover{
    background-color: black;
}


@media screen and (max-width: 768px){
    #dissbox{
     display:none;
    }
}