<section class="container">
    <div class="partners">
        <h1>Our Partners</h1>
        <div class="slider">
            <div class="slider-items">
                <img src="assets/images/partners/coursera-logo.webp" alt="Coursera">
                <img src="assets/images/partners/udemy-logo.webp" alt="Udemy">
                <img src="assets/images/partners/google-for-education.webp" alt="Google for Education">
                <img src="assets/images/partners/microsoft.webp" alt="Microsoft Learn">
                <img src="assets/images/partners/linkdin-learn.webp" alt="LinkedIn Learning">
                <img src="assets/images/partners/ibm-skillbuild.webp" alt="IBM SkillsBuild">
                <img src="assets/images/partners/aws-educate.webp" alt="AWS Educate">
                <img src="assets/images/partners/skillshare.webp" alt="Skillshare">
                <img src="assets/images/partners/harvard-online.webp" alt="Harvard Online">
                <img src="assets/images/partners/khan-academy.webp" alt="Khan Academy">
                <img src="assets/images/partners/edx.webp" alt="edX">
                <img src="assets/images/partners/plural-sight.webp" alt="Pluralsight">
            </div>
        </div>
    </div>
</section>
