<section class="dashboard-section py-5">
  <div class="container">
    <div class="row mt-1">
      <div class="col-12">
        <div class="content-section rounded shadow p-4 mb-5">
          <h3 class="fw-bold mb-1 text-center">Admin Dashboard Content</h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center bg-dark text-light rounded shadow p-4 mb-2"
      style="width: 90%; margin-left: auto;margin-right: auto;">
      <div class="col-md-4 col-sm-4 text-center ml-5">
        <img src="assets/images/images.png" alt="Admin Profile"
          class="img-fluid rounded-circle shadow-lg profile-img" />
      </div>
      <div class="col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center">
        <h2 class="fw-bold">{{ adminInfo?.name }}</h2>
        <p class="mb-1"><strong>Gender:</strong> {{ adminInfo?.gender }}</p>
      </div>
    </div>
    <div class="row text-center my-4 d-flex justify-content-evenly">
      <div class="col-3">
        <button class="p-2" (click)="showTable('student')">{{ selectedTable== 'student'? 'Hide Students' : 'Show
          Students' }}</button>
      </div>
      <div class="col-3">
        <button class="p-2" (click)="showTable('instructor')">{{ selectedTable=='instructor' ? 'Hide Instructors' :
          'Show Instructors'}}</button>
      </div>
      <div class="col-3">
        <button class="p-2" (click)="showTable('courses')">{{ selectedTable=='courses' ? 'Hide Courses' : 'Show Courses'
          }}</button>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center w-100" *ngIf="loading == true">
      <div class="loader"></div>
    </div>
    <div class="row mt-4" *ngIf="displayedData.length > 0 && selectedTable!='courses' && loading == false">
      <div class="col-12">
        <table class="table">
          <thead class="table-dark">
            <tr class="tr">
              <th class="m-2 text-center">Name</th>
              <th class="m-2 text-center">Email</th>
              <th class="m-2 text-center">Gender</th>
              <th class="m-2 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of displayedData">
              <td class="mx-2 text-center">{{ user.name }}</td>
              <td class="mx-2 text-center">{{ user.email }}</td>
              <td class="mx-2 text-center">{{ user.gender }}</td>
              <td>
                <button class="btn btn-danger btn-sm fw-bold" (click)="deleteUser(user.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4" *ngIf="displayedData.length > 0 && selectedTable == 'courses'  && loading == false">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr class="tr">
              <th class="m-2 text-center">Course Name</th>
              <th class="m-2 text-center">Course Instructor</th>
              <th class="m-2 text-center">Course fee</th>
              <th class="m-2 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of displayedData">
              <td class="m-2 text-center">{{ course.courseName }}</td>
              <td class="m-2 text-center">{{ course.trainerName }}</td>
              <td class="m-2 text-center">{{ course.courseFee }}</td>
              <td>
                <button class="btn btn-danger btn-sm m-2 fw-bold" (click)="deleteCourse(course.id)">Desable</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>