.dashboard-section {
    margin-top: 11vh;
  }
  
  .profile-img {
    max-width: 150px;
    height: auto;
    border: 4px solid #fff;
  }
  
  .content-section {
    font-family: "Kumbh Sans", sans-serif;
    background-color: #f8f9fa;
  }
  
  .bg-dark {
    background-color: #343a40 !important;
  }
  
  .text-light {
    color: #f8f9fa !important;
  }
  