<div class="questionarie">
  <h1>Frequently Asked Questions</h1>
  <div class="faq-container">
    <div *ngFor="let faq of faqs; let i = index" class="faq" [class.active]="activeIndex === i">
      <h3 class="faq-title">{{ faq.question }}</h3>
      <p class="faq-text" *ngIf="activeIndex === i">{{ faq.answer }}</p>
      <button class="faq-toggle" (click)="toggleFaq(i)">
        <i class="fas" [ngClass]="{'fa-angle-down': activeIndex !== i, 'fa-angle-up': activeIndex === i}"></i>
      </button>
    </div>
  </div>
</div>
