<div class="container py-3 bg-light">
    <h2 class="text-center mb-5 title">Trending Courses</h2>
    <div class="row g-4">
        <div class="col-md-3">
            <div class="card shadow h-100" style="background-color: rgb(238, 231, 231);">
                <img src="/assets/images/courses/mern.webp" class="card-img-top" alt="MERN Stack">
                <div class="card-body text-center">
                    <h5 class="card-title">MERN</h5>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow h-100" style="background-color: rgb(238, 231, 231);">
                <img src="/assets/images/courses/mean.webp" class="card-img-top" alt="MEAN Stack">
                <div class="card-body text-center">
                    <h5 class="card-title">MEAN</h5>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow h-100" style="background-color: rgb(238, 231, 231);">
                <img src="/assets/images/courses/gen.webp" class="card-img-top" alt="Gen AI">
                <div class="card-body text-center">
                    <h5 class="card-title">Gen AI</h5>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow h-100" style="background-color: rgb(238, 231, 231);">
                <img src="/assets/images/courses/Designer (11).png" class="card-img-top" alt="PHP">
                <div class="card-body text-center">
                    <h5 class="card-title">PHP</h5>
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-center mt-2 button">
        <a class="hero-cta" href="https://www.fiverr.com/users/aliali44/">
            <span class="cta-title">More Courses<i class="fa fa-arrow-right"></i></span>
        </a>
    </div>
</div>
