@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(0deg, #d3b4d3 0%, #eee5f0 100%);
    font-family: 'Belanosima', sans-serif;
    overflow-x: hidden;
}

.spectacledcoder-search-bar {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: width 0.5s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15vh;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.search-icon {
    padding: 8px;
    border-radius: 50%;
    background-color: #f6f3f7;
    cursor: pointer;
}

.spectacledcoder-search-bar:hover {
    width: 300px;
}

.spectacledcoder-search-input {
    display: none;
    border: none;
    font-family: 'Belanosima', sans-serif;
    padding-left: 10px;
    width: 100%;
}

.spectacledcoder-search-bar:hover .spectacledcoder-search-input {
    display: inline-flex;
}

.course-card {
    border: 1px solid #d1c4e9;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.course-card .card-body {
    padding: 15px;
    text-align: center;
}

.course-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-text {
    text-align: center;
    font-size: 14px;
}

#price {
    background-color: rgb(73, 187, 8);
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    width: 50%;
}

.btn {
    font-size: 14px;
    padding: 8px 12px;
    width: 100%;
    border-radius: 5px;
}

.btn-enroll {
    background-color: #7e57c2;
    color: white;
    margin-right: 10px;
}

.btn-enroll:hover {
    background-color: #6a1b9a;
}

.btn-details {
    background-color: #4a148c;
    color: white;
}

.btn-details:hover {
    background-color: #311b92;
}

.modal-content {
    background-color: #f3e5f5;
    color: #4a148c;
}

.modal-header, .modal-footer {
    border-color: #d1c4e9;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(226, 247, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #99beff;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .spectacledcoder-search-bar:hover {
        width: 80%;
    }

    .course-card img {
        height: 150px;
    }

    #price {
        width: 70%;
    }
}
