.contaner {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #f4e9f4; /* Light purple background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5vh;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.preview-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: bolder;
  text-align: center;
  color: #5a005a; /* Dark purple text */
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff; /* White input background */
  border-radius: 5px; /* Rounded edges for inputs */
}

.mat-mdc-text-field {
  --mdc-filled-text-field-container-color: white !important;
}

mat-form-field {
  background-color: #ffffff !important; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

mat-chip {
  margin-right: 5px;
  background-color: #020102; /* Light purple chips */
  color: #f3eef3; /* Dark purple text for chips */
}

button {
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #240124; /* Purple button background */
  color: rgb(248, 243, 243) !important; /* White text for buttons */
  font-weight: bold;
  padding: 2px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #830083; /* Darker purple on hover */
}

mat-error {
  color: #a84ca8; /* Light purple for error text */
}

textarea, input[type="number"], input[type="text"] {
  color: #5a005a; /* Dark purple text for inputs */
}

textarea::placeholder, input::placeholder {
  color: #a084a0; /* Light placeholder color */
}

mat-label{
  color: #020102;
  font-weight: bold;
}

mat-chip{
  color: #020102;
  
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label{
  color: #020102 !important;
}
