<div class="container">
	<div class="row">
		<div class="col-md-8 col-center m-auto">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner" *ngIf="testimonials.length > 0">
					<div *ngFor="let testimonial of testimonials; let i = index" class="carousel-item"
						[class.active]="i === activeIndex">
						<div class="img-box">
							<img [src]="testimonial.image" [alt]="testimonial.name" />
						</div>
						<p class="testimonial">{{ testimonial.testimonial }}</p>
						<p class="overview">
							<b>{{ testimonial.name }}</b>, {{ testimonial.role }}
						</p>
					</div>
				</div>

				<a class="carousel-control-prev" (click)="prevSlide()" style="color: black;">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" (click)="nextSlide()">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>